#jsalarmclock{
font-family: Tahoma;
font-weight: bold;
font-size: 45px;
color: #f90;
text-align: center;
}

#jsalarmclock div{
margin-bottom: 0.1em;
}

#jsalarmclock span{
}

#jsalarmclock select{
font-size: 80%;
}

input {
font-size: 80%;
}
